<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javamaildemo.mapper.TDepMapper">

    <resultMap id="BaseResultMap" type="com.example.javamaildemo.entity.TDep">
            <id property="depId" column="dep_id" jdbcType="BIGINT"/>
            <result property="depName" column="dep_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        dep_id,dep_name
    </sql>
    <select id="s">
        select <include refid="Base_Column_List"></include>
    </select>
    <delete id="deleteByDepIdAndDepName">
        delete
        from t_dep
        where dep_id = #{depId,jdbcType=NUMERIC}
          AND dep_name = #{depName,jdbcType=VARCHAR}
    </delete>
</mapper>
